/* Checkbox container */

.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: "Barlow";
}

.checkbox-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.checkbox-text h3 {
  margin: 0;

  font-weight: bold;
}

.checkbox-text p {
  margin: 0;
}

.kcontainer {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Barlow";
  padding-left: 35px;
  padding-bottom: 8px;
  padding-top: 5px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 0.6rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold;
  width: 20%;
  align-items: center;
}
.checkdiv {
  display: flex;
  flex-wrap: wrap;

  font-size: 1.6rem;
  gap: 1.6rem;
  margin: 3rem 0;
  justify-content: space-between;
}

.containerInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #faf7f2;
}
.kcontainer:hover input ~ .checkmark {
  background-color: #faf7f2;
}

.kcontainer input:checked ~ .checkmark {
  background-color: #fdc913;
  border-radius: 5px;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.kcontainer input:checked ~ .checkmark:after {
  display: block;
}

.kcontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*********************************************************************** 
*Textarea  */
textarea {
  width: 100%;
  font-family: "Barlow";
  background-color: #faf7f2;
  font-size: 0.8rem;
  border-radius: 4px;
  border: none;
}

/********************************************************************/
/* isim bölümü */
.isim {
  border-radius: 4px;
  font-family: "Barlow";
  border: none;
  width: 70%;
  background-color: #faf7f2;
  font-size: 0.8rem;
  padding: 7px 0;
}

/********************************************************************/
/* hesaplama  bölümü*/

.siparisSonuc {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 50px;
  padding-top: 30px;
  width: 100%;
}

.urunSayisi {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding-left: 20px;
  gap: 10px;
}
.butonartis {
  font-size: 13px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #faf7f2;
  color: black;
  border-radius: 8px;
}

.hesaplama {
  display: flex;
  flex-direction: column;

  width: 350px;
  background-color: #faf7f2;
  border: none;
  border-radius: 7px;
  margin-right: 50px;
  padding: 0px;
  margin-left: 20px;
}

.siparistext h3 {
  padding-left: 20px;
}
.secimler {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.secimler p {
  padding-right: 20px;
}
.toplamtutar p {
  padding-right: 20px;
}
.toplamtutar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ce2829;
  font-weight: bold;
  padding-left: 20px;
}

.urunSayisi button {
  border-radius: 5px;
}

.buton {
  padding: 10px 0;
  background-color: #fdc913;
  color: black;
  border-radius: 2px;
  cursor: pointer;
  font-size: 2rem;
  margin-top: 20px;
  margin-right: 0;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border-radius: 10px;
}

.buton:hover {
  background-color: #ce2829;
}

button:disabled {
  background-color: #faf7f2;
  cursor: not-allowed;
}

button[type="submit"] {
  background-color: #28a745;
}

button[type="submit"]:hover {
  background-color: #218838;
}
.buton {
  font-size: 10px;
}
