.successContainer {
  background-color: #ce2829;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  color: #faf7f2;
  flex-direction: column;
  padding-top: 130px;
}

.successContainer h2 {
  font-family: "Barlow";
  font-size: 40px;
  font-weight: bold;
  margin: 10px 0;
}
.successContainer h1 {
  font-family: "Satisfy";
  font-size: 2.3rem;
  font-weight: 400;
  color: #fdc913;
  margin: 10px 0;
}
