.success {
  background-color: #ce2829;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  color: #faf7f2;
  flex-direction: column;
  padding-top: 130px;
}

.success h2 {
  font-family: Roboto Condensed;
  font-size: 40px;
  font-weight: bold;
  margin: 10px 0;
}
