header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #faf7f2;
  color: #faf7f2;
  padding: 0;
  margin: 0;
}
/*******navlink bölümü**************************/
.order-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  width: 100%;
}

.order-header a {
  font-family: "Roboto Condensed";
  color: #ce2829;
  text-decoration: none;
  font-size: 1 rem;
  transition: color 0.3s;
  padding-top: 50px;
  padding-bottom: 50px;
}

.order-header a:hover {
  color: #292929;
}

/***** SECTION BÖLÜMÜ******/
/******************************/ /******************************/
.section-container {
  background-color: #faf7f2;
  font-family: "Barlow";
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
}
/* Section-1: Position Absolute Acı Pizza */
.section-1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  padding-top: 25px;
  padding-right: 395px;
}

/* Section-2: Fiyat */
.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 5px;
  padding-top: 10px;
  gap: 400px;
}
.fiyat {
  font-size: 1.5rem;
  font-weight: bolder;
}
.rates {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  gap: 70px;
}

/***** MAIN BÖLÜMÜ******/
/*******************************************************************************/
.main-container {
  font-family: "Barlow";
  width: 40%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-container h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 6px;
  text-align: left;
}

/**********************************************************************/

@media (max-width: 780px) {
  header {
    width: 100%;
  }
  .main-container {
    width: 100%;
    padding-left: 0;
    /*padding-left: 1rempx;*/
  }
  .order-header {
    flex-direction: row;
    gap: 1.1rem;
  }

  .order-header a {
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .hamur-boyut {
    width: 80%;
    padding-left: 2rem;
    gap: 1rem;
  }
  .section-container {
    flex-direction: column;
    align-items: center;
  }
  .custom-select select {
    width: 70%;
  }
  .section-1 {
    padding-right: 0;
  }
  .section-2 {
    gap: 9rem;
  }

  textarea {
    width: 70%;
    margin-right: 2rem;
  }

  .urunSayisi {
    padding-bottom: 1.2rem;
    padding-right: 2rem;
    padding-left: 0;
  }

  .siparisSonuc {
    flex-direction: column;
  }

  .siparisSonuc .hesap {
    margin-top: 10px;
    align-items: center;
  }
  .checkbox-kutu {
    flex-direction: column;
  }

  .checkbox-kutu label {
    margin-bottom: 0.5rem;
  }

  .checkbox-container {
    margin-top: 20px;
    width: 85%;
    padding-left: 2rem;
  }
  .main_isim {
    margin-left: 2rem;
    width: 90%;
  }
  .main_not {
    margin-left: 2rem;
    width: 90%;
  }

  .kcontainer {
    width: 40%;
  }
}
