header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ce2829;
  color: #faf7f2;
  padding: 20px 0;
}

.order-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 0 20px;
}

.order-header a {
  color: #faf7f2;
  text-decoration: none;
  font-size: 1 rem;
  transition: color 0.3s;
}

.order-header a:hover {
  color: #fdc913;
}

.rating {
  color: red;
  font-weight: bold;
}

.r_age {
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 0.2rem;
  margin: 0 0.5rem;
}

/***** SECTION BÖLÜMÜ******/
/******************************/ /******************************/
.section-container {
  font-family: "Barlow";
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
  margin: 0 auto;
}
/* Section-1: Position Absolute Acı Pizza */
.section-1 {
  font-weight: bold;
  text-align: left;
  font-size: 1rem;
  padding-top: 25px;
}

/* Section-2: Fiyat */
.section-2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 5px;
  padding-top: 10px;
}

.rating {
  color: red;
  font-weight: bold;
}

.section-container > div {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.section-container .section-2 {
  text-align: left;
  font-weight: bold;
}

.section-container div > div {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  align-items: center;
}

/***** MAIN BÖLÜMÜ******/
/*****************************************************************************************/
/******************************/
.main-container {
  font-family: "Barlow";
  width: 40%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.boyut h3,
.hamur h3 {
  display: flex;
  justify-content: space-between;
}

.boyut label {
  padding-left: 15px;
}

.hamur {
  margin-top: -2.5rem;
}

.hamur select {
  padding-right: 6rem;
}

.main-container h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 6px;
  text-align: left;
}
.hamur-boyut {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  object-fit: cover;
  margin: 10px;
  padding: 8px;
}

/****************************************************************************/
/* Checkbox container */

.checkbox-container {
  display: flex;
  flex-direction: column;
  font-family: "Barlow";
}

.checkbox-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.checkbox-text h3 {
  margin: 0;
  font-weight: bold;
}

.checkbox-text p {
  margin: 0;
}

.checkbox-kutu {
  display: flex;
  flex-wrap: wrap;
}

.checkbox-kutu > div {
  width: calc(33.33% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
}

.checkbox-kutu > div:nth-child(3n) {
  margin-right: 0;
}

/********************************************************************/
/* Textarea için stil */
textarea {
  width: 100%;
  font-family: "Barlow";
  font-size: 0.8rem;
  border-radius: 4px;
  border: 1px solid #5f5f5f;
  resize: none;
}

/********************************************************************/

.siparisSonuc {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  border: 0.5px solid lightgray;
}

.urunSayisi {
  width: 25%;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 1.5rem;
  margin-top: 0px;
  margin-right: 10px;
  gap: 20px;
}
.urunSayisi button {
  padding: 12px 20px;
  margin: 0 10px;
  border-radius: 5px;
  background-color: #fdc913;
}
.hesap {
  width: 60%;
  flex-direction: column;
}

.secimler {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.toplam2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ce2829;
  font-weight: bold;
}

.urunSayisi button {
  padding: 10px 10px;
  border-radius: 5px;
}

.buton {
  width: 100%;
  padding: 10px 10px;
  background-color: #fdc913;
  color: black;
  border-radius: 2px;
  cursor: pointer;
  font-size: 2rem;
}

.buton:hover {
  background-color: #ce2829;
}

button:disabled {
  background-color: #5f5f5f;
  cursor: not-allowed;
}

button[type="submit"] {
  background-color: #28a745;
}

button[type="submit"]:hover {
  background-color: #218838;
}
.buton {
  font-size: 10px;
}
/**********************************************************************/

@media (max-width: 768px) {
  .main-container {
    width: 70%;
  }
  .order-header {
    flex-direction: column;
    gap: 10px;
  }

  .section-container {
    flex-direction: column;
    align-items: center;
  }

  .siparisSonuc {
    flex-direction: column;
    align-items: center;
  }

  .siparisSonuc .hesap {
    margin-top: 10px;
  }

  .checkbox-kutu {
    flex-direction: column;
  }

  .checkbox-kutu label {
    margin-bottom: 8px;
  }

  .checkbox-container {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .section-container {
    width: 100%;
  }
  .section-1 {
    font-size: 20px;
  }

  .section-2 {
    font-size: 18px;
  }

  .main-container {
    padding: 10px;
  }

  .siparisSonuc .urunSayisi {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .siparisSonuc .hesap {
    align-items: center;
  }

  .siparisSonuc button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
  }
}
