.header {
  background-color: #ce2829;
  color: #faf7f2;
  padding: 40px;
  display: block;

  color: #faf7f2;
  text-align: center;
}
.header img {
  max-width: 250px;
  height: auto;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
