/* HOME BÖLÜMÜ*/
.home {
  background-image: url("/assets/Iteration-1-assets/home-banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  padding-top: 50px;
}

button {
  padding: 10px 20px;
  background-color: #fdc913;
  color: black;
  border: none;
  border-radius: 15px;
  font-size: 0.7rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #fdc913;
}

/* orderForm Bölümü*/
.order-header {
  background-color: #ce2829;
  color: white;
  padding: 10px;
  display: block;
  justify-content: space-between;
  align-items: center;
}

.order-header a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

.order-header a:hover {
  color: #fdc913;
}
.rating {
  color: red;
  font-weight: bold;
}
.r_age {
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 0.2rem;
  margin: 0 0.5rem;
}
